* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --pc: hsla(151, 17%, 29%, 1);
  --sc: hsla(151, 17%, 29%, 0.05);

  --heading-font: "EB Garamond", serif;
  --default-font: 'Poppins';

  --black: #000;
  --white: #fff;

  --text: hsla(0, 0%, 0%, 0.7);

  --bg: hsla(0, 0%, 93%, 1);
  --bg-2: hsla(0, 0%, 0%, 0.2);

  --shadow: 0px 0px 4px 0px hsla(0, 0%, 0%, 0.15);
  --shadow-sm: 0px 0px 30px rgba(127, 137, 161, 0.25);

  --border: 1px solid hsla(0, 0%, 0%, 0.1);
  --border-color: #E4E4E4;

  --transition: all 0.3s ease-in-out;



  --fs-1: 20px;
  --fs-2: 18px;
  --fs-3: 16px;
  --fs-4: 14px;

  --rad-1: 8px;
  --rad-2: 4px;
  --rad-circle: 50%;

  --fw-1: 800px;
  --fw-2: 700px;
  --fw-3: 600px;
  --fw-4: 500px;



  scroll-behavior: smooth;
}


/* # General
  =================================================*/
body {
  background-color: var(--white);
}

a {
  color: var(--pc);
  transition: all 0.5s;
  text-decoration: none;
}

p {
  line-height: 2.0;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: clamp(1.5625rem, 0.6696rem + 2.381vw, 2.8125rem) !important;
}

h2,
.h2 {
  font-size: clamp(1.325rem, calc(1.325rem + 0.9vw), 2rem) !important;
}

h3,
.h3 {
  font-size: clamp(1.3rem, calc(1.3rem + 0.6vw), 1.75rem) !important;
}

h4,
.h4 {
  font-size: clamp(1.275rem, calc(1.275rem + 0.3vw), 1.5rem) !important;
}

h5,
.h5 {
  font-size: 1.25rem !important;
}

h6,
.h6 {
  font-size: 1rem !important;
}



/* # Common Class
  =================================================*/

/* all-page property for all page ___ start */

.all-page ul li:not(.gd-toc-wrap ul li, [class*='social-links'] ul li)::before {
  background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 0 5 5-5 5-5-5z' fill='%233D564A'/%3E%3C/svg%3E") no-repeat;
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .gd-toc-wrap ul li, [class*='social-links'] ul li) a {
  border-bottom: 2px solid var(--pc);
  color: var(--pc);
  font-weight: 600;
  transition: var(--transition);
}

.all-page :is(p, li, h2, h3, h4, h5, h6, summary):not(#breadcrumbs, .gd-toc-wrap ul li, [class*='social-links'] ul li) a:hover {
  border-bottom: none;
  transition: var(--transition);
}


/* row & container  __________ start */

.img-placeholder {
  background-color: #c7c7c7;
  transition: var(--transition);

}

.gd-bg-cont {
  border-radius: var(--rad-1);
  background: var(--bg);
}

.gd-shadow-cont {
  border-radius: var(--rad-1);
  background: var(--white);
  box-shadow: var(--shadow);
}

.border-bottom:not(:first-child) {
  border-top: var(--border);
}




/* # Common Components
  =================================================*/

/* Breadcrumbs ___________Starts */

/* site-btn ___________Starts */
[class*="gd-btn"] {
  border: 1px solid var(--pc);
  color: var(--black);
  background: (var(--white));
  transition: var(--transition);
  border-radius: var(--rad-2);
  font-weight: 500;
}

[class*="gd-btn"]:has(svg) {
  fill: var(--white);
}

.gd-btn-bg,
[class*="gd-btn"]:hover {
  background: var(--pc);
  color: var(--white);
  border: 1px solid var(--pc);
  transition: var(--transition);
}

[class*="gd-btn"]:hover svg {
  fill: var(--white);
}

.gd-btn-bg:hover {
  border: 1px solid var(--pc);
  color: var(--pc);
  background: (var(--white));
  transition: var(--transition);
}



/* site cards  ___________Starts */

[class*='card'] {
  transition: var(--transition);
}

.gd-card {
  --color: var(--black);
  --meta-c: var(--meta);
  --cat-c: var(--pc);
}

.gd-flip-card {
  --cat-c: var(--pc);
}

.gd-midcat-card {
  --color: var(--black);
  --meta-c: var(--meta);
  --cat-c: var(--pc);
}

.gd-overlay-card {
  --color: var(--white);
  --meta-c: var(--white);
  --cat-c: var(--white);
}


.gd-midcat-card .gd-category-btn {
  background: var(--white);
  color: var(--pc);
}

.auth-img img {
  border-radius: var(--rad-circle);
}

.gd-overlay-card .img-placeholder::after {
  background: linear-gradient(to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 6%) 27%,
      rgb(0 0 0 / 91%) 90%);
  transition: var(--transition);
}


[class*="title"] {
  color: var(--color) !important;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.2;
}

.gd-title {
  font-size: 22px;
}

.gd-sub-title {
  font-size: 24px;
}

.gd-big-title {
  font-size: 32px;
}

.description {
  color: var(--meta);
}

[class*="gd-category"] {
  color: var(--cat-c);
  font-size: var(--fs-4);
  font-weight: 600;
}

.gd-category-btn {
  background: var(--pc);
  color: var(--white);
}

.gd-timeline {
  font-size: var(--fs-4);
}

.gd-timeline>* {
  font-size: var(--fs-4);
  text-transform: capitalize;
}


/* Separator_____________Start*/
.gd-sep {
  color: var(--black);
  font-size: clamp(1.5625rem, 0.6696rem + 2.381vw, 2.8125rem);
  font-family: var(--heading-font);
  font-weight: 700;
}

.gd-sep::before,
.gd-sep::after {
  background-color: var(--bg-2);
}



/* Social Icons _____________Start*/

.gd-social-links ul li a {
  border-radius: var(--rad-circle);
  transition: var(--transition);
  background: var(--white);
  border: 1px solid var(--bg);
}

.gd-social-links ul li a:before {
  border: 1px solid var(--white);
  transition: var(--transition);
  background: var(--pc);
}


.gd-social-links ul li a svg {
  position: relative;
  fill: var(--pc);
  transition: var(--transition);

}


.gd-social-links ul li a:hover svg {
  transition: var(--transition);
  fill: var(--white);
}





/* pagination_____________start */


/* # Header
  =================================================*/
header {
  background: var(--white);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

:is(header, footer) li a {
  color: var(--black);
}

:is(header, footer) li a:hover,
.gd-menu ul li .active {
  color: var(--pc);
}

.gd-menu ul li .active {
  font-weight: 600;
}

/* top bar _______ start */
.top-bar {
  background: var(--pc);
  font-size: var(--fs-4);
}

.top-bar .menu li a,
.top-bar a {
  color: var(--white) !important;
}

/* search form _____ start */
.gd-menu-search-form {
  border: 1px solid var(--pc);
  border-radius: var(--rad-2);
}

.search-btn svg {
  fill: var(--pc);
}

/* dropdown ______ start */
.dropdown::after,
.dropdown .dropdown::after,
.dropdown ul {
  transition: var(--transition);
}

.dropdown ul {
  background: var(--white);
  box-shadow: var(--shadow-sm);
}

.dropdown::after,
.dropdown .dropdown::after {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4 5.588 4 4 4-4' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}

/* mobile nav */
header nav ul {
  background-color: var(--white);
}






/* # Home page
  =================================================*/

/* Hero Section */
.gd-con-hero {
  background-image: url(../images/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gd-con-hero .gd-flip-card .gd-timeline {
  justify-content: unset;
  gap: 30px;
  margin-top: 20px;
}

/* Nursery Plant */
:is(.gd-con-nurseryplant, .gd-con-service) .gd-sep {
  justify-content: start;
}

.gd-con-nurseryplant .flex-between .gd-btn {
  border: none;
  border-radius: unset;
  border-bottom: 1px solid var(--pc);
}



:is(.gd-con-nurseryplant, .gd-con-service) .gd-sep::before,
:is(.gd-con-nurseryplant, .gd-con-service) .gd-sep::after {
  display: none;
}

.gd-con-service .grid,
.gd-con-nurseryplant .gd-card {
  background: var(--white);
  border: 1px solid rgba(20, 81, 52, .2);
  border-radius: var(--rad-2);
  padding: 10px;
}

.gd-con-nurseryplant .gd-sub-title {
  font-family: var(--default-font);
  font-size: var(--fs-3);
}

.gd-con-nurseryplant .gd-bg-cont {
  padding: 20px;
  border-radius: unset;
}

.gd-con-nurseryplant .gd-bg-cont .grid-3 {
  background: var(--white);
  padding: 10px;
}

.gd-con-nurseryplant .gd-bg-cont .gd-card {
  border: none;
}

.gd-con-service .grid {
  position: relative;
}




.gd-con-service {
  background-image: url(../images/service-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 65px;
}

/* categories _____ section  */
.gd-con-categories .gd-overlay-card .img-placeholder::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;
}

.gd-con-categories .gd-category {
  font-size: var(--fs-2);
}

.gd-con-categories .gd-card-content::before {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}






/* # Single Page
  =================================================*/

/* Blog header _____________start */
.blog-header {
  border-bottom: 1px solid var(--pc);
}

.blog-header::before {
  background: url("data:image/svg+xml,%3Csvg width='132' height='203' viewBox='0 0 132 203' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M106.293 2.36752L106.947 2.37376C106.555 29.6407 95.4174 55.6597 75.9422 74.7671C56.4671 93.8745 30.2405 104.515 2.97106 104.386L2.9773 103.732C30.0732 103.859 56.1327 93.2859 75.484 74.3C94.8352 55.3142 105.903 29.4609 106.293 2.36752Z' stroke='black' stroke-opacity='0.43'/%3E%3Cline x1='107.453' y1='1.87867' x2='106.09' y2='144.872' stroke='black' stroke-opacity='0.5' stroke-width='2'/%3E%3Cpath d='M99.0236 151.805C99.0605 147.939 102.224 144.835 106.09 144.872V144.872C109.956 144.909 113.06 148.072 113.023 151.938L112.956 158.938L98.9569 158.805L99.0236 151.805Z' fill='%233D564A'/%3E%3Ccircle cx='106.766' cy='178.88' r='23' transform='rotate(0.546093 106.766 178.88)' fill='%23E7E7E7'/%3E%3Cpath d='M102.65 96.6172C102.67 94.5297 104.378 92.8535 106.466 92.8734V92.8734C108.553 92.8933 110.23 94.6017 110.21 96.6893L110.174 100.469L102.614 100.397L102.65 96.6172Z' fill='%233D564A'/%3E%3Ccircle cx='106.831' cy='111.238' r='12.42' transform='rotate(0.546093 106.831 111.238)' fill='%23E7E7E7'/%3E%3C/g%3E%3C/svg%3E") no-repeat;

}

.blog-header::after {
  background: url("data:image/svg+xml,%3Csvg width='144' height='288' viewBox='0 0 144 288' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M230.236 94.278c-98.5-4-226.737 33.999-220.237 193' stroke='%23000' stroke-opacity='.2' stroke-width='2'/%3E%3Cpath d='M1 0c0 46 8 159.5 209.695 150' stroke='%23000' stroke-opacity='.2' stroke-width='2'/%3E%3C/svg%3E") no-repeat;
  background-position: center;
}

.blog-detail a {
  text-decoration: underline;
}

.blog-detail>*:not(:last-child):after {
  background: url("data:image/svg+xml,%3Csvg width='1' height='21' viewBox='0 0 1 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-opacity='.1' d='M.5.472v20'/%3E%3C/svg%3E") no-repeat;
}

/* Blog sidebar_____________start */

/* table of contents */
.gd-toc-wrap {
  border: 1px solid var(--pc);
  border-radius: var(--rad-1);
}


.toc-header {
  font-weight: 600;
  color: var(--black);
  font-family: var(--heading-font);
  font-size: 25px;
}

.toc-header.head-border {
  border-bottom: 2px solid hsla(0, 0%, 89%, 1);
}

.toc-toggle-btn {
  transition: var(--transition);
}

.toc-body {
  transition: opacity 0.3s ease-in-out;
  margin-top: 10px;
}

.toc-body::-webkit-scrollbar-thumb {
  border-radius: var(--rad-1);
  background: var(--pc);
}

.toc-body ul li a {
  color: var(--text);
}

.gd-toc-wrap .toc-body.hidden {
  transition: var(--transition);
}

/* Blog Contents _____________start */

/* blockquote */

blockquote {
  border-color: var(--border-color);
}

blockquote::before {
  background: url(../images/blockquote-icon.svg) no-repeat;
}


/* table */
table {
  background-color: var(--sc);
  border-radius: var(--rad-2);
  border-spacing: 0;
}

table thead {
  background-color: #D4EADF;
  border-radius: var(--rad-2);
  /* FIX ME : border is not working  */
}

table thead th {
  color: var(--pc);
  font-weight: 600;
}


/* pros-cons */
.gd-pros-cons-head {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  border-radius: var(--rad-2) var(--rad-2) 0 0;
}

.gd-pros-wrap .gd-pros-cons-head {
  background-color: #70AD46;
}

.gd-cons-wrap .gd-pros-cons-head {
  background-color: #FD0002;
}

.gd-pros-cons-body {
  border: 1px solid var(--border-color);
  border-radius: var(--rad-2);
}

/* Accordians faq */
.gd-block-faq details {
  border: 1px solid var(--border-color);
  border-radius: var(--rad-2);
}

.gd-block-faq summary {
  transition: all 0.2s ease;
}

.gd-block-faq details[open]>summary {
  border-bottom: 1px solid var(--border-color);
}

.gd-block-faq summary::after {
  transition: all 0.5s ease;
  background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 6 6 6-6' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
}




/* Notes | Sources | Also Read */
:is(.gd-block-note, .gd-block-source, .gd-block-also-read) {
  border: 1px solid var(--border-color);
  border-radius: var(--rad-2);
}


.block-heading {
  color: var(--pc);
  font-weight: 600;
  border-bottom: 10px solid var(--pc);
  font-family: var(--heading-font);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

:is(.gd-block-note, .gd-block-source, .gd-block-also-read) .block-heading::after {
  background: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 9 .005.75h12.99z' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
}

.gd-block-note .block-heading::before {
  background: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cellipse opacity='.2' cx='23' cy='22.5' rx='23' ry='22.5' fill='%233D564A'/%3E%3Cellipse cx='23' cy='22.5' rx='19' ry='18.5' fill='%233D564A'/%3E%3Cpath transform='matrix(-1 0 0 1 33 12)' fill='url(%23a)' d='M0 0h20v20H0z'/%3E%3Cdefs%3E%3Cpattern id='a' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23b' transform='scale(.01111)'/%3E%3C/pattern%3E%3Cimage id='b' width='90' height='90' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAACWUlEQVR4nO3cQWoUQRSH8daFutATKDJ4Ab3EILPwCLmBRjyACGZVR9B1FjlHFkoW0QTEZCPBnbiTKEY3nzSUMEjizNSkX/Wr9//23V39o6mubma665RSSimllJOAW8AL4Bj4BXwFdoAHtcfWTMAEOOL8fgMbtcfYCvLJBcjz2Pdrj9V1wBQ4Y3E7tcfqPmC2BPaX2uOMgv1znZ3fAJ4Ce8B32mhrIOwPpTu9AxzSVltL3PimhdjPS6/kiMgnGXG2IvZH4GYJdD9dRET+2yrY/XaTlZHzTvo5OSryKtjTYuS8g1PaKC04z7vAp/9s3z9qPyqGXAK6hdKayMNj4790ScjDYhNzTl7U2aKlXyTodMlX8nyfgXuCxhlyHpS3kjtkh9DJJbIz6OQW2RF0co3sBDq5R3YAnZpAHjl0agY5D/jcuhGHN2SP0HhE9gaNV2RP0HhG9gLNwMjAyy46NAbIJuc7ZmiMkENDY4gcFhpj5JDQVEAOB43BEq7a+Y4FGqN1cmhoDB9GwkJj/MQXEpoKj9VRobcLkYt/1RkV+p31C6Jw0MDVgr9wrP0WLiL0xBo5KvTMGjkq9DNr5KjQr62Ro0LvXnDoH8B+XvpNBjhuOOijjP0qTyMP8w3yysDHjQVdK0EbJWijBG2UoI0StFGCNkrQRgnaKEEbJWijBG2UoI0StFGCNkrQRgnaKEEHgG7lc2zr9M0CuqUPDJb21gJ6s3h47fTYAvo6cEDc3gPXBoee+6zxQVDk2ybI/1zZT/r5qvEb5Cnwpp8uzK5kpZRSSimllFJKqW7c/QGR7aRgHQyTkQAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E") no-repeat center;

}

.gd-block-source .block-heading::before {
  background: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='23' cy='22.5' rx='19' ry='18.5' fill='%233D564A'/%3E%3Cellipse opacity='.2' cx='23' cy='22.5' rx='23' ry='22.5' fill='%233D564A'/%3E%3Cpath d='M28.1 20.25h-4.327l1.597-5.07c.15-.594-.28-1.18-.87-1.18h-5.4a.914.914 0 0 0-.892.813l-1.2 9.375c-.071.562.349 1.062.892 1.062h4.452l-1.73 7.598c-.134.594.3 1.152.875 1.152a.9.9 0 0 0 .78-.468l6.6-11.875c.348-.622-.083-1.407-.777-1.407' fill='%23fff'/%3E%3C/svg%3E") no-repeat center;
}

.gd-block-also-read .block-heading::before {
  background: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse opacity='.2' cx='23' cy='22.5' rx='23' ry='22.5' fill='%233D564A'/%3E%3Cellipse cx='23' cy='22.5' rx='19' ry='18.5' fill='%233D564A'/%3E%3Cpath d='M14.012 30.272c-.57-.03-1.012-.486-1.012-1.032v-8.704c0-.595.517-1.069 1.139-1.033.944.053 2.353.178 3.816.465s2.978.74 4.133 1.447a.5.5 0 0 1 .239.427v9.609c0 .377-.413.619-.765.442-2.39-1.204-5.844-1.532-7.55-1.621Zm8.964-18.271a3.725 3.725 0 1 1 .173 7.448 3.725 3.725 0 0 1-.173-7.448Zm.889 9.414c1.155-.707 2.67-1.159 4.132-1.447a29 29 0 0 1 3.816-.465c.622-.036 1.139.438 1.139 1.033v8.704c0 .547-.442 1.003-1.012 1.033-1.705.09-5.158.417-7.547 1.62-.353.177-.767-.065-.767-.443v-9.601c0-.175.086-.34.239-.434Z' fill='%23fff' stroke='url(%23a)' stroke-width='.049'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='31.425' y1='11.976' x2='12.635' y2='31.651' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2313CC62'/%3E%3Cstop offset='1' stop-color='%23017DAB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
}


/* # All Author  ||  Author Single || category Page
  =================================================*/

.authors-page .auth-img::before {
  background: var(--pc);
}

.authors-page .auth-img::after {
  background: var(--pc);
}

.authors-page .auth-img img {
  border-right: 4px solid var(--pc);
  border-bottom: 4px solid var(--pc);
}

.authors-page .gd-card-content {
  background: var(--sc);
  border-radius: var(--rad-2);
}

.arcive-content .border-bottom:nth-child(-n + 2) {
  border-top: unset;
}

.author-acrhive-page .sidebar .gd-auth-card {
  background: var(--sc);
  border-radius: var(--rad-2);
}


/* # Thank You || Search Not Found  || 404 Page
  =================================================*/
.page-status-content {
  border: 1px solid var(--pc);
  border-top-width: 5px;
  padding: 40px 30px;
}

/* # Contact Page Templates
  =================================================*/
.contact-form {
  border: var(--border);
  border-right: none;
  border-radius: var(--rad-2);
}

.contact-form form {
  background: var(--pc);
  border-radius: 0 var(--rad-2) var(--rad-2) 0;
}


.contact-form .input-group :is(input, textarea) {
  background-color: transparent;
  color: var(--white);
  border-radius: var(--rad-2);
  border: solid 1px var(--white);
  transition: all .3s ease;
}

.contact-form .input-group input:focus {
  border-color: var(--white)
}

.contact-form .input-group label {
  font-size: var(--fs-4);
  background: var(--pc);
  color: var(--white);
  transition: all .3s ease
}


.contact-form .gd-btn {
  background: var(--white);
  color: var(--pc);
  border: 1px solid var(--pc);
  padding: 5px 20px;
}

.contact-form .gd-btn:hover {
  background: var(--pc);
  color: var(--white);
  border: 1px solid var(--white);
}

/* # Footer
  =================================================*/
.upper-part {
  background: var(--sc);
}

.trending-topics span {
  background: var(--pc);
  color: var(--white);
}

.trending-topics::before {
  background: url("data:image/svg+xml,%3Csvg width='179' height='52' viewBox='0 0 179 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.833 6V5h-.482l-.3.377zm141.94 0L173 .226 167.227 6 173 11.774zM.218 50.377a1 1 0 1 0 1.564 1.246zM36.833 7H173V5H36.833zm-.782-1.623-35.833 45 1.564 1.246 35.834-45z' fill='%23145134'/%3E%3C/svg%3E") no-repeat
}

.trending-topics::after {
  background: url("data:image/svg+xml,%3Csvg width='179' height='53' viewBox='0 0 179 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.833 47v1h-.488l-.3-.386zm141.94 0L173 52.773 167.227 47 173 41.227zM.211 1.615A1 1 0 1 1 1.79.385zM36.833 46H173v2H36.833zm-.789 1.614-35.833-46L1.79.386l35.833 46z' fill='%23145134'/%3E%3C/svg%3E") no-repeat;
}

.lower-part {
  background: var(--pc);
}

.copywrite {
  text-align: center;
  color: var(--white);
}

.lower-part .menu li a,
.lower-part .gd-timeline>* {
  color: var(--white);
}

/* # Scroll top button
  =================================================*/
#scroll_to_top {
  font-size: var(--fs-2);
  border: 2px solid hsl(150deg 17.57% 29.02%);
  background: #fff;
}

#scroll_to_top svg {
  fill: var(--pc);
}

/* # Responsive Code
  =================================================*/

@media screen and (min-width:1024px) {

  /* header desktop ___________ */
  .sticky-header {
    transition: var(--transition);
  }
}

@media screen and (max-width:1024px) {

  /* header desktop ___________ */
  .back-drop {
    background: var(--black);
  }
}

@media screen and (min-width: 768px) {
  .bg-img::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='262' height='271' viewBox='0 0 262 271' fill='none'%3E%3Cg opacity='.05'%3E%3Cpath d='M269.623 135.577a134.814 134.814 0 0 1-161.112 132.221A134.813 134.813 0 0 1 134.811.765V28a107.577 107.577 0 1 0 107.577 107.577z' fill='%233D564A'/%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='60' y='0' width='143' height='195'%3E%3Cpath fill='%23D9D9D9' d='M60.985 0H202.13v194.074H60.985z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath d='M140.379 180.441q-9.705 0-16.614-6.911-6.91-6.909-6.911-16.614H99.211q-4.851 0-8.307-3.455-3.455-3.454-3.455-8.307 0-20.584 13.527-35.506 13.525-14.923 33.522-17.129V0h11.762v92.52q19.995 2.205 33.521 17.128t13.527 35.506q0 4.852-3.455 8.307t-8.307 3.455h-17.643q0 9.705-6.911 16.614t-16.613 6.911m-41.168-35.287h82.335q0-17.055-12.056-29.111t-29.111-12.056-29.112 12.056-12.056 29.111' fill='%233D564A'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  }
}

@media screen and (max-width: 768px) {

  [class*="title"] {
    font-size: var(--fs-1) !important;
  }
}

@media screen and (max-width: 600px) {
  .gd-flip-card .gd-card-content {
    padding: 20px;
  }

  .gd-con-hero .gd-timeline {
    gap: 20px;
  }

  .toc-header {
    font-size: 22px;
  }
}